In [1]:
library(tidyverse)
library(dplyr)
library(ggplot2)
library(ggdag)
library(gridExtra)
library(GGally)
library(fastDummies)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.5.1     ✔ purrr   1.0.2
✔ tibble  3.2.1     ✔ dplyr   1.1.4
✔ tidyr   1.3.1     ✔ stringr 1.5.1
✔ readr   2.1.5     ✔ forcats 1.0.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()


Attaching package: ‘ggdag’


The following object is masked from ‘package:stats’:

    filter



Attaching package: ‘gridExtra’


The following object is masked from ‘package:dplyr’:

    combine


Registered S3 method overwritten by 'GGally':
  method from
  +.gg   ggplot2

In [3]:
data <- read.csv("dummy_data.csv")
head(data)

  age gender     time_spent platform  interests location       demographics
1 56  male       3          Instagram Sports    United Kingdom Urban
2 46  female     2          Facebook  Travel    United Kingdom Urban
3 32  male       8          Instagram Sports    Australia      Sub_Urban
4 60  non-binary 5          Instagram Travel    United Kingdom Urban
5 25  male       1          Instagram Lifestlye Australia      Urban
6 38  male       3          Facebook  Travel    United States  Urban
  profession        income indebt isHomeOwner Owns_Car
1 Software Engineer 19774  True   False       False
2 Student           10564  True   True        True
3 Marketer Manager  13258  False  False       False
4 Student           12500  False  True        False
5 Software Engineer 14566  False  True        True
6 Marketer Manager  19179  True   True        True

In [4]:
model <- lm(time_spent ~  ., data=data)
summary(model)

Call:
lm(formula = time_spent ~ ., data = data)

Residuals:
   Min     1Q Median     3Q    Max
-4.733 -2.136 -0.030  2.177  4.570

Coefficients:
                              Estimate Std. Error t value Pr(>|t|)
(Intercept)                  5.709e+00  6.065e-01   9.412   <2e-16 ***
age                         -5.777e-03  5.975e-03  -0.967   0.3339
gendermale                  -3.678e-01  1.975e-01  -1.863   0.0628 .
gendernon-binary            -1.245e-01  1.986e-01  -0.627   0.5308
platformInstagram            7.106e-02  1.989e-01   0.357   0.7210
platformYouTube             -2.552e-01  2.031e-01  -1.256   0.2092
interestsSports             -3.099e-01  1.976e-01  -1.568   0.1172
interestsTravel              1.264e-03  1.972e-01   0.006   0.9949
locationUnited Kingdom      -3.017e-01  1.955e-01  -1.543   0.1231
locationUnited States       -2.609e-01  1.966e-01  -1.327   0.1847
demographicsSub_Urban        2.011e-01  1.969e-01   1.021   0.3074
demographicsUrban           -2.579e-01  1.984e-01  -1.300   0.1938
professionSoftware Engineer -1.334e-01  1.934e-01  -0.690   0.4903
professionStudent           -4.166e-02  1.985e-01  -0.210   0.8338
income                       4.995e-06  2.747e-05   0.182   0.8558
indebtTrue                   7.188e-02  1.617e-01   0.444   0.6568
isHomeOwnerTrue              1.366e-01  1.614e-01   0.846   0.3978
Owns_CarTrue                -7.553e-02  1.627e-01  -0.464   0.6425
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 2.533 on 982 degrees of freedom
Multiple R-squared:  0.02069,	Adjusted R-squared:  0.003741
F-statistic: 1.221 on 17 and 982 DF,  p-value: 0.2404